Connected to .venv (Python 3.10.2)

In [ ]:
import pandas as pd 
from glob import glob

In [ ]:
single_file_acc = pd.read_csv("../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Accelerometer_12.500Hz_1.4.4.csv")
single_file_gyr = pd.read_csv("../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv")

In [ ]:
single_file_gyr = pd.read_csv("../data/raw/MetaMotion/A-bench-heavy2-rpe8_MetaWear_2019-01-11T16.10.08.270_C42732BE255C_Gyroscope_25.000Hz_1.4.4.csv")

In [ ]:
single_file_gyr

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s)
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500
...,...,...,...,...,...,...
409,1547219424711,2019-01-11T16:10:24.711,16.36,2.195,-1.402,4.268
410,1547219424751,2019-01-11T16:10:24.751,16.40,4.451,-1.220,0.244
411,1547219424791,2019-01-11T16:10:24.791,16.44,7.195,-4.329,6.524
412,1547219424831,2019-01-11T16:10:24.831,16.48,8.963,-1.037,-0.366
413,1547219424871,2019-01-11T16:10:24.871,16.52,-3.476,2.134,-5.305

In [ ]:
files = glob("../data/raw/MetaMotion/*.csv")

In [ ]:
len(files)

187

In [ ]:
f = files[0]

In [ ]:
data_path = '../data/raw/MetaMotion\\'

In [ ]:
f = files[0]

In [ ]:
participant = f.split("-")[0].replace(data_path, "")

In [ ]:
lable = f.split("-")[1]

In [ ]:
category = f.split("-")[2].rstrip("123")

In [ ]:
df = pd.read_csv(f)

In [ ]:
df['participant'] = participant

In [ ]:
df['lable'] = lable

In [ ]:
df['category'] = category

In [ ]:
df.head(3)

,epoch (ms),time (01:00),elapsed (s),x-axis (g),y-axis (g),z-axis (g),participant,lable,category
0,1547219408431,2019-01-11T16:10:08.431,0.00,0.010,0.964,-0.087,A,bench,heavy
1,1547219408511,2019-01-11T16:10:08.511,0.08,0.000,0.961,-0.069,A,bench,heavy
2,1547219408591,2019-01-11T16:10:08.591,0.16,0.001,0.974,-0.087,A,bench,heavy

In [ ]:
acc_df = pd.DataFrame()

In [ ]:
gyr_df = pd.DataFrame()

In [ ]:
acc_set = 1

In [ ]:
gyr_set = 1

In [ ]:
for f in files:

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-22-cb1f70c9acaf>, line 1)

In [ ]:
for f in files:
    
    participant = f.split("-")[0].replace(data_path, "")
    lable = f.split("-")[1]
    category = f.split("-")[2].rstrip("123").rstrip('_MetaWear2019')

    df = pd.read_csv(f)

    df['participant'] = participant
    df['lable'] = lable
    df['category'] = category

    if "Accelerometer" in f:
        df['set'] = acc_set
        acc_set +=1
        acc_df = pd.concat([acc_df,df])

    if "Gyroscope" in f:
        df['set'] = gyr_set
        gyr_set +=1
        gyr_df = pd.concat([gyr_df,df])

In [ ]:
gyr_df

,epoch (ms),time (01:00),elapsed (s),x-axis (deg/s),y-axis (deg/s),z-axis (deg/s),participant,lable,category,set
0,1547219408351,2019-01-11T16:10:08.351,0.00,0.122,-5.488,-3.841,A,bench,heavy,1
1,1547219408391,2019-01-11T16:10:08.391,0.04,2.195,-9.695,-0.610,A,bench,heavy,1
2,1547219408431,2019-01-11T16:10:08.431,0.08,2.622,-8.110,-4.024,A,bench,heavy,1
3,1547219408471,2019-01-11T16:10:08.471,0.12,1.951,-4.695,-4.634,A,bench,heavy,1
4,1547219408511,2019-01-11T16:10:08.511,0.16,1.524,-2.561,-2.500,A,bench,heavy,1
...,...,...,...,...,...,...,...,...,...,...
487,1547666063314,2019-01-16 20:14:23.314,19.48,-1.707,-0.671,1.585,E,squat,heavy,93
488,1547666063354,2019-01-16 20:14:23.354,19.52,0.915,0.305,2.988,E,squat,heavy,93
489,1547666063394,2019-01-16 20:14:23.394,19.56,5.854,-2.561,1.463,E,squat,heavy,93
490,1547666063434,2019-01-16 20:14:23.434,19.60,4.268,0.549,-0.305,E,squat,heavy,93
491,1547666063474,2019-01-16 20:14:23.474,19.64,-1.098,1.768,-0.122,E,squat,heavy,93